version: '3.7'

# Definimos varios volumenes nombrados (odoo_conf, odoo_addons..) 
# pero que esté enlazado a una carpeta. 
# De esta manera es posible realizar copias sobre él desde el host
# en la construcción de la imagen y además posteriormente acceder a ellas 
# desde el host.
# Un volumen enlazado directamente host:contenedor elimina todo lo que 
# haya en esa carpeta del contenedor 
volumes:
  odoo_conf:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: ${SERVER_INFO_PATH_HOST}/odoo/config

  odoo_addons:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: ${APP_MODULE_PATH_HOST}

  odoo_data: 
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: ${DATA_PATH_HOST}/odoo/${ODOO_VERSION}/${ODOO_SERVER_NAME}

  odoo_logs: 
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: ${SERVER_INFO_PATH_HOST}/odoo/logs

  odoo_repo: 
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: ${SERVER_INFO_PATH_HOST}/odoo/repo
      
  mariadb_data:
    driver: local

  moodle_data:
    driver: local

  moodledata_data:
    driver: local

  pgadmin_data: 
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: ${DATA_PATH_HOST}/pgadmin

  keycloak_data:

  n8n_data:

networks:
  # Definimos una red donde se conectarán los servicios a los que se 
  # accederá mediante Traefik siempre que Traefik esté configurado
  traefik_network:
    name: traefik_network
    driver: bridge

services:
  #############################
  ## ODOO #####################
  #############################
  # Definimos el servicio Web, en este caso Odoo
  web:
    build:
      # donde está el código pasra construir la imagen
      context: ./odoo
      # valores que pueden ser utilizados en la construcción de la imagen
      args:
          - ODOO_VERSION=${ODOO_VERSION}
          - ODOO_SHELL_OH_MY_ZSH=${ODOO_SHELL_OH_MY_ZSH}
          - ODOO_INSTALL_NANO=${ODOO_INSTALL_NANO}
          - ODOO_INSTALL_SSH=${ODOO_INSTALL_SSH}
          - ODOO_INSTALL_SSL_DEV=${ODOO_INSTALL_SSL_DEV}
          - ODOO_INSTALL_PDFTK=${ODOO_INSTALL_PDFTK}
          - ODOO_INSTALL_ASDF=${ODOO_INSTALL_ASDF}
          - ODOO_ASDF_INSTALL_PLUGIN_RUBY=${ODOO_ASDF_INSTALL_PLUGIN_RUBY}
          - ODOO_ASDF_PLUGIN_RUBY_INSTALL_VERSION=${ODOO_ASDF_PLUGIN_RUBY_INSTALL_VERSION}  
          - ODOO_INSTALL_JEKYLL=${ODOO_INSTALL_JEKYLL}
          - REPO_PATH_CONTAINER=${REPO_PATH_CONTAINER}
       
    # Port Mapping: indicamos que el puerto 8069 del contenedor se mapeara con 
    # el puerto ODOO_PORT en el anfritrion
    # Permitiendo acceder a Odoo mediante http://localhost:ODOO_PORT
    # Además mapeamos el puerto 22 para ssh
    ports:
      - "${ODOO_SSH_PORT}:22"
      - "${ODOO_PORT}:8069"

    # permito tener el contenedor vivo. Al eliminar el punto de entrada una vez arranca se para
    # con tty: true puedo entrar y trabajar sobre él.
    tty: true

    # Indicamos que depende de "db", por lo cual debe ser procesada primero "db"
    depends_on:
      - db

    # Definimos variables de entorno de Odoo
    environment:
      # conexión con Postgress
      - HOST=${ODOO_POSTGRESS_HOST}
      - USER=${ODOO_POSTGRESS_USER}
      - PASSWORD=${ODOO_POSTGRESS_PASSWORD}
      - PORT=${ODOO_POSTGRESS_PORT}

    # Mapeamos el directorio de los modulos (como por ejemplo "/mnt/extra-addons")
    # en un directorio local, por defecto en el carpeta ../addons del directorio 
    # donde se ejecuta docker-compose
    volumes:
      - odoo_addons:/mnt/extra-addons
      - odoo_data:/var/lib/odoo
      - odoo_logs:/var/log/odoo
      - odoo_repo:${REPO_PATH_CONTAINER}    
      - odoo_conf:/etc/odoo

    deploy:
      restart_policy:
        condition: any
        delay: 0s

  #################################
  ## POSTGRES #####################
  #################################
  # Definimos el servicio de la base de datos
  db:
    build:
      context: ./postgres
      args:
        - POSTGRES_VERSION=${POSTGRES_VERSION}
        - POSTGRES_IMAGE=${POSTGRES_IMAGE}
        
    ports:
      - "${POSTGRES_PORT}:5432"

    # Definimos variables de entorno de PostgreSQL
    environment:
      - POSTGRES_DB=${POSTGRES_DB}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}

    # Mapeamos el directorio del contenedor "var/lib/postgresql/data" en un directorio local
    # por defecto en la carpeta .odoodock del home del usuario
    volumes:
      - ${DATA_PATH_HOST}/postgres/odoo_${ODOO_VERSION}/${ODOO_SERVER_NAME}:/var/lib/postgresql/data

  #################################
  ## PGADMIN ######################
  #################################
  # Definimos el servicio pgAdmin
  pgadmin:
    image: dpage/pgadmin4:latest

    ports:
      - "${PGADMIN_PORT}:80"

    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_CONFIG_SERVER_MODE=${PGADMIN_CONFIG_SERVER_MODE}

    volumes:
      - pgadmin_data:/var/lib/pgadmin

    # Indicamos que depende de "db", por lo cual debe ser procesada primero "db"
    depends_on:
      - db

  ###################################
  ## PDF-SIGNATURE-VALIDATOR ########
  ###################################
  pdf-signature-validator:
    build:
      context: https://github.com/CEED-Informatica/pdf-signature-validator-service.git

    ports:
      - "${PDFSIGVALID_PORT}:80"

  #################################
  ## JEKYLL #######################
  #################################
  jekyll:
    build:
      context: ./jekyll

    # rango de puertos por si se desea escalar el servicio (arrancar más de un contendor)
    ports:
      - "4001-4010:4000"

    tty: true

    volumes:
      - odoo_addons:/srv/jekyll

    depends_on:
      - web

  #################################
  ## MOODLE #######################
  #################################
  # Definimos el servicio de Moodle
  moodle:
    build:
      context: ./moodle
      args:
        - MOODLE_VERSION=${MOODLE_VERSION}

    ports:
       - "${MOODLE_PORT}:8080"
       - "${MOODLE_SSL_PORT}:8443"

    environment:
      - ALLOW_EMPTY_PASSWORD=${MOODLE_ALLOW_EMPTY_PASSWORD}
      - MOODLE_USERNAME=${MOODLE_USERNAME}
      - MOODLE_PASSWORD=${MOODLE_PASSWORD}
      # tipo de base de datos. Por ahora sólo mariadb
      - MOODLE_DATABASE_TYPE=${MOODLE_DATABASE_TYPE}
      # el contenedor de la base de datos
      - MOODLE_DATABASE_HOST=${MOODLE_DATABASE_HOST}
      - MOODLE_DATABASE_PORT_NUMBER=${MOODLE_DATABASE_PORT_NUMBER}
      - MOODLE_DATABASE_USER=${MOODLE_DATABASE_USER}
      - MOODLE_DATABASE_NAME=${MOODLE_DATABASE_NAME}
      - MOODLE_DATABASE_PASSWORD=${MOODLE_DATABASE_PASSWORD}

    volumes:
      - 'moodle_data:/bitnami/moodle'
      - 'moodledata_data:/bitnami/moodledata'

    depends_on:
      - mariadb-moodle

  #############################
  ## MARIADB ##################
  #############################
  mariadb-moodle:
    build:
      context: ./mariadb
      args:
        - MARIADB_VERSION=${MARIADB_MOODLE_VERSION}
        
    environment:
      - ALLOW_EMPTY_PASSWORD=${MARIADB_MOODLE_ALLOW_EMPTY_PASSWORD}
      - MARIADB_ROOT_PASSWORD=${MARIADB_MOODLE_ROOT_PASSWORD}
      - MARIADB_PASSWORD=${MARIADB_MOODLE_PASSWORD}
      - MARIADB_USER=${MARIADB_MOODLE_USER}
      - MARIADB_DATABASE=${MARIADB_MOODLE_DATABASE}
      - MARIADB_CHARACTER_SET=${MARIADB_MOODLE_CHARACTER_SET}
      - MARIADB_COLLATE=${MARIADB_MOODLE_COLLATE}

    volumes:
      - 'mariadb_data:/bitnami/mariadb'

  #############################
  ## N8N ######################
  #############################
  n8n:
    # experimental, soporte para nodos en python
    # build:
    #   context: ./n8n
    #   args:
    #     - N8N_INSTALL_PYTHON=${N8N_INSTALL_PYTHON}

    image: docker.n8n.io/n8nio/n8n
    restart: always
    ports:
      - "${N8N_PORT}:5678"

    # para ser enrutado desde traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.n8n.rule=Host(`${SUBDOMAIN}.${DOMAIN_NAME}`)"
      - "traefik.http.routers.n8n.entrypoints=web"
      - "traefik.http.services.n8n.loadbalancer.server.port=5678"

    environment:
      - N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
      - N8N_HOST=${SUBDOMAIN}.${DOMAIN_NAME}
      - N8N_PORT=${N8N_PORT}
      - N8N_PROTOCOL=http
      - N8N_RUNNERS_ENABLED=true
      - NODE_ENV=development
      - WEBHOOK_URL=http://${SUBDOMAIN}.${DOMAIN_NAME}/
      - GENERIC_TIMEZONE=${GENERIC_TIMEZONE}
      - TZ=${GENERIC_TIMEZONE}
      - NODES_EXCLUDE="[]"
      # permito el acceso a las variables de entorno
      - N8N_BLOCK_ENV_ACCESS_IN_NODE=false 
      # Keycloak credentials
      - KEYCLOAK_INTERNAL_URL=${KEYCLOAK_INTERNAL_URL}
      - KEYCLOAK_ADMIN_USER=${KEYCLOAK_ADMIN}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
    volumes:
      - n8n_data:/home/node/.n8n
      - ${SERVER_INFO_PATH_HOST}/n8n_files:/home/node/.n8n-files

    networks:
      - traefik_network

  #############################
  ## RABBITMQ #################
  #############################
  rabbitmq:
    image: rabbitmq:3-management
  
    ports:
      - "${RABBIT_PORT}:5672"         # Puerto de comunicación (AMQP)
      - "${RABBIT_WEB_PORT}:15672"    # Interfaz Web de administración
      
    environment:
      - RABBITMQ_DEFAULT_USER=${RABBITMQ_DEFAULT_USER}
      - RABBITMQ_DEFAULT_PASS=${RABBITMQ_DEFAULT_PASSWORD}

    volumes:
    - ./rabbitmq/init-rabbit.sh:/init-rabbit.sh

    # Misma red que traefik
    networks:
      - traefik_network

    # para ser enrutado desde traefik
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.rabbitmq.rule=Host(`rabbitmq.local`)"
      - "traefik.http.services.rabbitmq.loadbalancer.server.port=15672"

  #############################
  ## TRAEFIK ##################
  #############################
  traefik:
    image: traefik:v3.0
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--providers.docker.exposedbydefault=false"
      - "--entrypoints.web.address=:80"
    ports:
      - "80:80"
      - "8080:8080" # Dashboard de Traefik

    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"

    networks:
      - traefik_network
  
  #############################
  ## KEYCLOAK #################
  #############################
  keycloak:
    image: quay.io/keycloak/keycloak:24.0

    ports:
      - "${KEYCLOAK_PORT}:8080"

    command: start-dev --http-relative-path /auth

    environment:
      KC_DB: postgres
      KC_DB_URL: jdbc:postgresql://keycloak_db:5432/${POSTGRES_KEYCLOAK_DB}
      KC_DB_USERNAME: ${POSTGRES_KEYCLOAK_USER}
      KC_DB_PASSWORD: ${POSTGRES_KEYCLOAK_PASSWORD}
      KEYCLOAK_ADMIN: ${KEYCLOAK_ADMIN}
      KEYCLOAK_ADMIN_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KC_HTTP_ENABLED: "true"
      KC_HOSTNAME_STRICT: "false"
      KC_PROXY: edge

    depends_on:
      - keycloak_db

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.keycloak.rule=Host(`keycloak.local`)"
      - "traefik.http.routers.keycloak.entrypoints=web"
      - "traefik.http.services.keycloak.loadbalancer.server.port=8080"

    # lo incluimos en la red de traefik para que pueda comunicarse con él si arranco el servicio
    networks:
      - traefik_network

  #############################
  ## BD KEYCLOAK (postgres) ###
  #############################
  keycloak_db:
    image: postgres:16

    volumes:
      - keycloak_data:/var/lib/postgresql/data

    environment:
      POSTGRES_DB: ${POSTGRES_KEYCLOAK_DB}
      POSTGRES_USER: ${POSTGRES_KEYCLOAK_USER}
      POSTGRES_PASSWORD: ${POSTGRES_KEYCLOAK_PASSWORD}

    # lo incluimos en la red de traefik para que pueda comunicarse con él si arranco el servicio
    # OJO! en producción debería ir en una red aislada para que sólo tenga acceso Keycloak
    networks:
      - traefik_network