##########################################################
################ Containers Customization #################
###########################################################

### ODOO #############################################

# Version de Odoo.
# Valores aceptados:  14 - 15
ODOO_VERSION=14
